body {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 26, 26);
  overflow-x: hidden;
}

/***********--  style for text --************/
h2 {
  
  color: goldenrod;
  text-align: center;
  text-shadow: -1px 3px 4px rgb(4, 4, 4),
    0 0 1em rgb(64, 3, 218),
    0 0 0.2em rgb(255, 251, 251);
}

h3 {
  color:goldenrod;
  size: 500px;
}

p {
  line-height: 1.2;
  color: bisque;
  text-align: center;
}

#masseurDescription {
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  text-shadow: -1px 1px 1px rgb(4, 4, 4),
    0 0 1em rgb(64, 3, 218),
    0 0 0.2em rgb(255, 251, 251);
}

a {
  text-decoration: none;
  color: aqua;
  font-weight: 300;
  cursor: pointer;
  font-family: "Gill Sans", sans-serif;
}

a:hover {
  color: bisque;
  transform: scale(1.1);
  transition: scale 0.5s ease;
  text-shadow: -1px 3px 4px rgb(61, 60, 60),
    0 0 1em rgb(64, 3, 218),
    0 0 0.2em rgb(255, 251, 251);
}

/************* end of style for text ***********/
/*************   header   נביגציה    ***********/
header {
  display: flex;
  color: aqua;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  width: 100%;
  background-color: black;
  text-shadow: 0.5px 0.5px,
    0 0 1em rgb(246, 246, 64),
    0 0 1em rgb(209, 0, 0);
}

.headerOpen {
  display: none;
  color: aqua;
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: black;
  text-shadow: 0.5px 0.5px,
    0 0 1em rgb(246, 246, 64),
    0 0 1em rgb(209, 0, 0);

}
.closeHeaderOpen{
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;        
  height: 42px;               
  width: 42px;                  
  position: absolute;         
  top: 12px;                   
  right: 42px;                    
  text-align: center;           
  color: red;                      
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  border: none;
  border-bottom: 3.5px solid rgb(249, 253, 0);
  border-top: 3.5px solid rgb(249, 253, 0);
  transition: 0.5s linear;
  border-radius: 15px;
  outline: none;

}

.closeHeaderOpen:hover{
  box-shadow: 0.3px 0.3px,
  0 0 1em rgb(246, 246, 64),
  0 0 1em rgb(209, 0, 0);
transform: scale(1.02);
transition: all 0.3s ease;
}

.headerOpen:hover {
  color: goldenrod;
  text-shadow: 0.5px 0.5px,
    /* צל של הטקסט                     */
    0 0 1em rgb(16, 75, 170),
    0 0 1em rgb(209, 0, 0);
}

/********   end of header    **********
/******** style for massuers slider action on js *******/
.masseur-conteiner,
.gridConteinerMobile {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 17.5rem;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0.5px 0.5px,
    0 0 1em rgb(246, 246, 64),
    0 0 1em rgb(209, 0, 0);
}

/*** btn style ***/
.btn-prev,
.btn-next,
.btn-prev-mobile,
.btn-next-mobile {
  width: 8%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  border: none;
  z-index: 2;
  cursor: pointer;
  background-color: aqua;
  color: brown;
}

.btn-prev:hover,
.btn-next:hover {
  /* ON MOUSE HOVER */
  transform: scale(1.15);
  transition: all .5s ease;
  background-color: bisque;
  box-shadow: 0.5px 0.5px,
    0 0 1em rgb(246, 246, 64),
    0 0 1em rgb(209, 0, 0);
}

.getMeeting {
  width: 20%;
  background-color: black;
  text-align: center;
  text-decoration: none;
  margin: 20px auto;
  padding: 5px;
  border-radius: 10px;
  transition: all 1s ease;
  animation: shadowMove 4s linear infinite;
}

@keyframes shadowMove {
  0% {
    box-shadow: 0 0 10 5px rgb(209, 0, 0);
  }

  25% {
    box-shadow: 0 0 10px 5px rgb(246, 246, 64);
  }

  50% {
    box-shadow: 0 0 10px 0px rgb(209, 0, 0);
  }

  75% {
    box-shadow: 0 0 10px 5px rgb(246, 246, 64);
  }

  100% {
    box-shadow: 0 0 10px 0px rgb(209, 0, 0);
  }
}

.getMeeting:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  color: aqua;
}

.getMeeting:active,
.btn-prev:active,
.btn-next:active,
.btn1-form:active,
.btn2-form:active {
  transform: translateY(4px);
}

.scroll-button-up {
  position: fixed;
  z-index: 2;
  bottom: 25px;
  right: 25px;
  padding: 10px 20px;
  text-align: center;
  font-size: larger;
  font-weight: 900;
  background-color: #3498db92;
  color: #fff;
  border: solid #fff 2px;
  border-radius: 100%;
  cursor: pointer;
  display: none;
}

.scroll-button-up.show {
  display: block;
  /* Show the button when needed */
}

/******* end of style for btn *******/
/******* style for messeur foto and room ******/
.masseur-foto,
.masseur-room {
  position: relative;
  width: 45%;
  height: 100%;
  transition: all 2s ease;
}

img,
.descripBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: large;
}

.masseur-foto:hover,
.masseur-room:hover {
  transition: all 1.5s ease;
  transform: scale(1.15);
}
/*****     end of masseurs conteiner   *****/

/*****     style for about us    *****/
.aboutOptimed {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  height: 13em;
  margin: 0 auto;
  padding: 10px;
}

.optimedPic {
  position: relative;
  width: 40%;
  height: 100%;
}

.optimedText {
  width: 60%;
  height: 100%;
  padding: 0 12px;
  overflow-y: scroll;
}
.optimedText p,
.description p
{
 text-align: left;
}
/*****   end of style about us   *****/
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Customize scrollbar for webkit-based browsers */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #0a0909;
  /* Track color */
  border-radius: 50%;
}

::-webkit-scrollbar-thumb {
  background: burlywood;
  /* Scrollbar thumb color */
  border-radius: 75%;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Scrollbar thumb color on hover */
}

/*****   end of style scrol bar   *****/
/*****   style of contact us    *****/

.form-conteiner {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0.5px 0.5px,
    0 0 1em aqua,
    0 0 1em rgb(209, 0, 0);
}

.contact-form {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
  background: url("pic/wood.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.formItem {
  position: relative;
  width: 70%;
  margin: 0.75rem 15%;
}

.formItem input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  background-color: #ffffffbe;
  color: black;
  font-size: large;
  font-weight: 500;
  outline: none;
  padding: 10px;
}

.formItem label {
  position: absolute;
  pointer-events: none;
  left: 0.75rem;
  top: 15px;
}

/* Adjust the label position if the input is not empty */
.formItem input:not(:placeholder-shown)+label,
.formItem textarea:not(:placeholder-shown)+label,
.formItem input:valid+label,
.formItem textarea:valid+label {
  top: -1.25rem;
  color: aqua;
  font-weight: bold;
}

textarea {
  width: 100%;
  max-height: 100px;
  padding: 10px;
  font-weight: 500;
  font-size: large;
  border-radius: 10px;
  background-color: #ffffffbc;
  color: black;
  border: none;
  outline: none;
  overflow-y: scroll;
}


form button {
  width: 40%;
  text-align: center;
  background-color: aqua;
  color: brown;
  border: none;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}

form button:hover {
  transition: all .5s ease;
  transform: scale(1.03);
  color: aqua;
  background-color: rgb(195, 112, 112);
  box-shadow: 0.5px 0.5px,
    0 0 1em rgb(246, 246, 64),
    0 0 1em rgb(209, 0, 0);
}


.optimed-map {
  position: relative;
  flex: 1;
}

/******    conteiner of massage discriptions   *******/
.grid-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  width: 96%;
  height: 480px;
  margin: auto;
}

.item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  width: 22%;
  height: 190px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
}

.itemdescript {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  text-align: center;

}

.item:hover {
  /*  ON MOUSE HOVER  */
  transform: scale(1.02);
  box-shadow: 0.5px 0.5px,
    /* תוספת צל        */
    0 0 1em rgb(246, 246, 64),
    0 0 1em rgb(209, 0, 0);
}

.item:hover .itemdescript {
  display: block;
}

.item.expanded {
  /*   יחידה אחרי לחיצה הליאה אקטיבית   */
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}


.description {
  display: none;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  opacity: 0;
  z-index: 1;
  background-color: #0a09099a;
  overflow: hidden;
  box-shadow: 0.5px 0.5px,
    0 0 1em rgb(246, 246, 64),
    0 0 1em rgb(209, 0, 0);
}

.description p {
  color: #fff;
}

.item.expanded .description {
  display: block;
  opacity: 1;
  background-color: #0a090994;
  box-shadow: 0.5px 0.5px,
    0 0 1em aqua,
    0 0 1em rgb(209, 0, 0);
  overflow-y: scroll;
}

.aromatherapiya {
  background: url("pic/aromatherapiya.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bumboo {
  /* יחידת בלוג על מסאז */
  background: url("pic/bumboo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pilate {
  /* יחידת בלוג על מסאז */
  background: url("pic/pilate.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footMassage {
  /* יחידת בלוג על מסאז */
  background: url("pic/Снимок foot.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shvedy {
  /* יחידת בלוג על מסאז */
  background: url("pic/chianasк.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ostiopathiya {
  /* יחידת בלוג על מסאז */
  background: url("pic/ostiopatiya.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sport {
  /* יחידת בלוג על מסאז */
  background: url("pic/refue.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stone {
  /* יחידת בלוג על מסאז */
  background: url("pic/stone1PNG.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.faceMassage {
  /* יחידת בלוג על מסאז */
  background: url("pic/twina's.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.itemdescriptMobile{
  height: 100%;
  width: 100%;
  text-align: center;
  color: burlywood;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.556); 
}


/******      end of conteiner massage discriptions  ******/

.icons {
  /*  קונטיינר לתמונות סוציאליות  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 25px 0;
  padding: 0;
}

.icon-box {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
}

.icon {
  /* הגדרת תמונה סוציאלית   */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.icon:hover,
.icon-box:hover,
#scrollToTop:hover {
  /* HOVER על תמונה סוציאלית או כפתור חזרה לנביגציה  */
  transform: scale(1.15);
  box-shadow: 0.5px 0.5px,
    0 0 1em rgb(246, 246, 64),
    0 0 1em rgb(209, 0, 0);
}

/******      footer   *****/
footer {
  background-color: black;
  color: goldenrod;
  padding: 5px;
  margin-top: 25px;
  font-family: "Gill Sans", sans-serif;
  font-weight: 300;

}

.footad {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-top: 12px;
}


/* Media query for smartphone */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  header{
    flex-direction: column;
    gap: 20px;
    padding: 10px;

  }
  .footerAddDiscrip{
    display: none;
  }

  .footad {
    flex-direction: column;
    gap: 10px;
  }

  .form-conteiner {
    flex-direction: column;
    height: auto;
  }

  .contact-form {
    margin-bottom: 5px;
  }

}