body {
  box-sizing: border-box;
  margin: 0;
  padding: 1%;
  background-color: rgb(62, 62, 62);
  background: url("pic/wood.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p,
h1,
h2 {
  text-align: center;
  color: red;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: large;
  padding: 5px;
  margin-bottom: 15x;
}

.nav form{
  position: relative;
  width: 15%;
  height: 32px;
  margin: 10px;
  padding: 5px;
}

 button {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 8px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: bisque;
  font-weight: 300;
  cursor: pointer;
  width: 100%;
}


button:hover {
  background-color: aqua;
  color: brown;
  transform: scale(1.02);
}

button:active {
  transform: translateY(4px);
}


main {
  position: relative;
  min-height: 380px;
  overflow: hidden;
  width: 98%;
  border: solid gray 2px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.574);
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 32px auto;
  padding: 10px;
}
.btn{
  width: 40%;
  margin: 12px 30%;
}

table{
  width:100%;
  text-align: center;
  color: goldenrod;
}
.tr{
  background-color: rgb(66, 66, 66);
  height: 32px;
  color: white;
  text-align: center;
}
td{
  text-align: center;
  color: goldenrod;
  font-weight: bold;
}
.caption-row {
  /*** date for php ***/
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: black;
  color: aqua;
  font-weight: bold;
  height: 2.5rem;
  padding: 0.5rem;
}
.day{
  cursor: pointer;
}
.captionBtn{
 height: 1.5rem;
 margin-top: 0.5rem;

}
#popUPcloseBtn{
  position: absolute;
  top: -42px;
  right: -42px;
  width: 32px;
  height: 32px;

}
.popup-container{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.782);
 
}
.popupBox{
  width: 60%;
  margin: 30% 20%;
  position: relative;


}
.popupBox button,
.popupBox input
{
  width: 60%;
  margin: 10px 20%;
  text-align: center;
}
.popupBox select{
  width: 20%;
  margin: 10px 40%;
}

/* Media query for smartphone */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  /* Example: .nav { flex-direction: column; } */
}

/* Media query for tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Adjust styles for tablets */
}

/* Media query for PC */
@media screen and (min-width: 1024px) {
  /* Adjust styles for larger screens */
}
