body{
  box-sizing: border-box;
  margin: 0;
  padding: 1%;
  background-color: rgb(40, 40, 40);
  overflow-x: hidden;
}

p, h1, h2{
  text-align: center;
  color: goldenrod;
} 

/******** end of password form ********/
/******** control panel ******/


/*******  panel contoller *****/
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  background-color: rgb(68, 68, 68);
  font-weight: bold;
  font-size: large;
}

form {
  width: 90%;
  margin: 10px 5%;
}

button {
  width: 95%;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: bisque;
  font-weight: 300;
  cursor: pointer;
  margin: 10px auto;
}

button:hover {
  background-color: aqua;
  color: brown;
  transform: scale(1.02);
}

button:active {
  transform: translateY(4px);
}


main{
  position: relative;
  background: brown;
  min-height: 380px;
  width: 98%;
  border: solid gray 2px;
  padding: 10px;
  margin-bottom: 15px;
}

/******new  messeur form style  *****/
.parentMain{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:  2% auto;
}

.parentMain input{
  height: 6%;
  width: 60%;
  margin: 1% auto;
  padding: 3px 25px;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: goldenrod;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
}
table{
  width:100%;
}
.tr{
  background-color: rgb(66, 66, 66);
  height: 32px;
  color: white;
  text-align: center;
}
td{
  text-align: center;
  color: goldenrod;
  font-weight: bold;
  font-size: large;
}

/*******  using for masseurDashboad  ******/
.caption-row {
  /*** date for php ***/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.day{
  cursor: pointer;
}
#popUPcloseBtn{
  position: absolute;
  top: -42px;
  right: -42px;
  width: 32px;
  height: 32px;

}
.popup-container{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.726);
 
}
.popupBox{
  width: 60%;
  margin: 150px 20%;
  position: relative;


}
.popupBox button,
.popupBox input
{
  width: 60%;
  margin: 10px 20%;
  text-align: center;
}
.popupBox select{
  width: 20%;
  margin: 10px 40%;
}

/* Media query for smartphone */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  /* Example: .nav { flex-direction: column; } */
}

/* Media query for tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Adjust styles for tablets */
}

/* Media query for PC */
@media screen and (min-width: 1024px) {
  /* Adjust styles for larger screens */
}



